:root {
    --colorCbaBack: rgb(255, 251, 191);
    --colorCbaBorder: rgb(255, 255, 23);
    --colorUnswDstgBack: rgb(255, 213, 213);
    --colorUnswDstgBorder: rgb(255, 145, 145);
    --colorUnswAktBack: rgb(193, 255, 191);
    --colorUnswAktBorder: rgb(140, 252, 137);
    --colorResmedBack: rgb(210, 239, 255);
    --colorResmedBorder: rgb(137, 214, 255);
    --colorThesisBack: rgb(244, 228, 255);
    --colorThesisBorder: rgb(219, 170, 255);


}



/* Top banner elements */
.intro {
    background-color: var(--color1);
    color: var(--colorWhite);
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "photo desc";
    padding: 0rem 6rem 2rem 6rem;
}

/* Profile picture */
.intro .photo {
    padding: 0rem 1rem;
    max-width: 10rem;
    max-height: 10rem;
    display: block; /* Remove random extra space at bottom*/
    justify-self: right;
    align-self: right;
    border-radius: 50%;
}

/* Name, title, links */
.intro .desc {
    padding: 0rem 1rem;
    grid-area: desc;
    text-align: left;
    justify-self: left;
    align-self: center;
}

.intro .desc .name {
    font-size: 2rem;
    font-weight: bold;
}

.intro .desc .title {
    font-size: 1rem;
}

.circle-container {
    margin-top: 0.5rem;
}

.intro .circle:hover {
    background-color: var(--colorWhite);
}

.circle {
    position: relative;
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: var(--colorGrey);
    margin-right: 1rem;
    transition: background-color 0.5s ease;
}
  
.circle img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

.circle a{
    display: block;
    height: 100%;        
    width: 100%;
}

/* Featured home page container elements*/

.featured {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    background-color: var(--color4);
    grid-gap: 3rem;
    padding: 3rem 15rem;

}
.featured .col {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(0, max-content);
    grid-gap: 3rem;
    background-color: var(--color4);

}

.featured .item {
    background-color: var(--colorWhite);
    padding: 2rem;

}

.featured .item h1 {
    font-size: 1.5rem;
    text-align: left;
    padding: 0rem;
}
/* About me section */
.about-me {
    padding: 1rem 0rem 0rem 0rem; /* 1 line spacing */
}

/* Skills section */

.skill-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr;
    grid-template-areas: "lang level"
                         "bar  bar";
    padding: 1rem 0rem;
}

.skill-item .lang {
    text-align: left;
    overflow: clip; /* Force text to overflow outside of container */
    white-space: nowrap;

}

.skill-item .level {
    text-align: right;
    overflow: clip;
    white-space: nowrap;
    color: var(--skillsLevelColor);
}

:root {
    --skillsLevelColor:  #6c6c6c;
    --skillsBarHeight: 0.5rem;
    --skillsBarColorFill: #4CAF50;
    --skillsBarColorBack: #ddd;
    --skillsBarColorInt: #6b6b6b;
}

.skill-item .bar {
    grid-area: bar;
    height: 1rem;
    width: 100%;
    background-color: var(--skillsBarColorBack);
    position: relative;
}
  
.skill-item .progress {
    height: 100%;
    background-color: var(--skillsBarColorFill);
}

/* Featured work grid */

:root {
    --featuredItemHeight: 10rem;
}

.work-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(0, max-content);
    grid-gap: 2rem;
    padding: 1rem 0rem;
    
}

.work-grid .work-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "logo role"
                         "logo desc"
                         "logo link";
    height: var(--featuredItemHeight);
    grid-gap: 1rem;
}

.work-grid .logo {
    grid-area: logo;
    padding: 1rem;
}

.work-grid img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.work-grid .role {
    grid-area: role;
    justify-self: left;
    align-self: center;
}

.work-grid .company {
    grid-area: company;
    justify-self: left;
    align-self: center;
}

.work-grid .desc {
    grid-area: desc;
    justify-self: left;
    align-self: center;
}

.work-grid .link {
    grid-area: link;
    justify-self: left;
    align-self: center;
}