/* Top container elements */
.top-container {
    background-color: var(--color1);
    color: var(--colorWhite);
    display: grid;
    padding: 100px 50px 25px 50px;
    text-align: center;
}

.top-container h1 {
    font-size: 5rem;
}

.top-container h2 {
    font-size: 2.5rem;
}

.top-container .title-area2 {
    place-self: center;
}
.top-container .profile-img {
    border-radius: 50%;
    zoom: 10%;
}

.top-container .subtitle-img {
    zoom: 40%;
    vertical-align: middle;
}

/* For desktop, tablets */
@media (min-width: 1201px) {
    .top-container {
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: minmax(repeat(2, 1fr));
    }
    .top-container .title-area1 {
        grid-column: span 4;
        grid-row-start: 1;
    }
    
    .top-container .title-area2 {
        grid-column: span 2;
        grid-row-start: 1;
    }
    
    .top-container .subtitle-area {
        grid-column: span 2;
        grid-row-start: 2;
    }
}

/* For Mobile phones */
@media (max-width: 1200px) {
    .top-container {
        grid-auto-rows: minmax(repeat(6, 1fr));
    }
    .top-container .title-area1 {
        grid-column: span 1;
        grid-row: span 1;
    }
    
    .top-container .title-area2 {
        grid-column: span 1;
        grid-row: span 1;
    }
    
    .top-container .subtitle-area {
        grid-column: span 1;
        grid-row: span 1;
    }
}

/* Featured home page container elements*/
.heading {
    text-align: center;
}

.featured-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 2fr));
    gap: 5rem;
    background-color: var(--colorWhite);
    
    margin: 5rem;
    
}

.featured-container .item {
    --itemRadius: 25px;

    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1fr;
    border-style: solid;
    border-radius: var(--itemRadius);
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;

}

.item::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: var(--itemRadius);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;
}

.item:hover {
    transform: scale(1.025, 1.025);
}

.item:hover::after {
    opacity: 1;
}

.logo-div {
    align-self: center;
    justify-self: center;
    padding: 0rem;
}

.logo-div .logo-top {
    grid-area: 1 / 1 / 2 / 2;
}
.logo-div .logo-bottom {
    grid-area: 2 / 1 / 3 / 2;
}
.logo-div .logo-middle {
    grid-area: 1 / 1 / 3 / 2;
}

.desc-div {
    grid-area: 1 / 2 / 3 / 3;
    padding: 1rem;
}

.featured-container img {
    width: 100%;
    height: auto;
    text-align: center;
}

.featured-container h2 {
    text-align: center;
}

.featured-container h3 {
    text-align: left;
}

.featured-container a {
    pointer-events: none;
    text-decoration: none;
    color: var(--colorBlack);
}

.featured-container a:visited {
    pointer-events: none;
    text-decoration: none;
    color: var(--colorBlack);
}

.cba {
    border-color: var(--colorCbaBorder);
}
.cba:hover::after {
    background-color: var(--colorCbaBack);
}

.unsw-dstg {
    border-color: var(--colorUnswDstgBorder);
}
.unsw-dstg:hover::after {
    background-color: var(--colorUnswDstgBack);
}

.unsw-akt {
    border-color: var(--colorUnswAktBorder);
}
.unsw-akt:hover::after {
    background-color: var(--colorUnswAktBack);
}

.thesis {
    border-color: var(--colorThesisBorder);
}
.thesis:hover::after {
    background-color: var(--colorThesisBack);
}

.resmed {
    border-color: var(--colorResmedBorder);
}
.resmed:hover::after {
    background-color: var(--colorResmedBack);
}

:root {
    --colorCbaBack: rgb(255, 251, 191);
    --colorCbaBorder: rgb(255, 255, 23);
    --colorUnswDstgBack: rgb(255, 213, 213);
    --colorUnswDstgBorder: rgb(255, 145, 145);
    --colorUnswAktBack: rgb(193, 255, 191);
    --colorUnswAktBorder: rgb(140, 252, 137);
    --colorResmedBack: rgb(210, 239, 255);
    --colorResmedBorder: rgb(137, 214, 255);
    --colorThesisBack: rgb(244, 228, 255);
    --colorThesisBorder: rgb(219, 170, 255);
}