/* Global elements */
* {
    margin: 0;
    padding: 0;
    /* text-overflow: ellipsis; */
}
:root {
    /* https://colorhunt.co/palette/06283d1363df47b5ffdff6ff */
    --color1: rgb(39, 40, 56);
    --color1T: rgba(39, 40, 56, 0.2);
    --color2: rgb(34, 54, 85);
    --color3: rgb(58, 119, 159);
    --color4: rgb(223, 246, 255);
    --colorLinkDark: #005792;
    --colorLinkLight: rgb(201, 201, 201);
    --colorLinkDark2: rgb(129, 182, 247);

    --colorBlack: black;
    --colorWhite: white;
    --colorGrey: rgb(152, 152, 152);
    --colorLightGrey: rgb(198, 198, 198);
    --lineHeight: 1.5;

    --colorFeaturedHeading: rgb(77, 77, 77);
}

body {
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-auto-rows: minmax(0, max-content);
    grid-template-areas: "navbar"
                         "banner"
                         "content"
                         "footer";

}

a {
    text-decoration: none;
    color: var(--colorLinkDark);
}

a:visited {
    /* pointer-events: none; */
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 2.5rem;
    text-align: center;

    color: var(--colorFeaturedHeading);
}

/* Grid page layout */


/* Bottom container (sitemap) elements */

footer {
    grid-area: footer;
    background-color: var(--color1);
    display: grid;
    color: var(--colorWhite);
    padding: 10px 0px;
    text-align: center;
}

footer a {
    text-decoration: underline;
    color: var(--colorWhite);
    vertical-align: middle;
}

footer a:visited {
    text-decoration: none;
    color: var(--colorBlack);
}

footer a:Border {
    text-decoration: underline;
    color:var(--colorLinkDark2);
}

footer .contact {
    padding: 0px;
    height: 3rem;
}

footer .copyright {
    padding: 0px;
    height: 3rem;
}

.icon {
    width: 1.5rem;
}

footer ul {
    padding: 0px;

}

footer li {
    display: inline;
    margin: 0px 10px;
    padding: 0px;
    justify-self: start;
    align-self: center;
}

