/* Global elements */
* {
    margin: 0;
    padding: 0;
}
:root {
    /* https://colorhunt.co/palette/06283d1363df47b5ffdff6ff */
    --color1: rgb(39, 40, 56);
    --color1T: rgba(39, 40, 56, 0.2);
    --color2: rgb(19, 99, 223);
    --color3: rgb(71, 181, 255);
    --color4: rgb(223, 246, 255);
    --colorLinkDark: #005792;
    --colorLinkLight: rgb(201, 201, 201);
    --colorLinkDark2: rgb(129, 182, 247);


    --colorBlack: black;
    --colorWhite: white;
    --colorGrey: grey;
    --lineHeight: 1.5;


}

body {
    font-family: 'Poppins', sans-serif;
}

a:visited {
    /* pointer-events: none; */
    text-decoration: none;

}

/* Nav container elements */
nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left right";
    padding: 2rem 5rem;
}

nav .left {
    grid-area: left;
    justify-self: start;
}

nav .right {
    grid-area: right;
    justify-self: end;
}

nav ul li {
    display: inline;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 0px 10px;
}

nav a {
    text-decoration: none;
}

nav a:visited {
    text-decoration: none;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    padding: 4rem 0 0 0;
}

/* Bottom container elements */

footer {
    background-color: var(--color1);
    display: grid;
    color: var(--colorWhite);
    padding: 10px 0px;
    text-align: center;


}

footer a {
    text-decoration: underline;
    color: var(--colorWhite);
    vertical-align: middle;
}

footer a:visited {
    text-decoration: none;
    color: var(--colorBlack);
}

footer a:Border {
    text-decoration: underline;
    color:var(--colorLinkDark2);
}

footer .contact {
    padding: 0px;
    height: 3rem;
}

footer .copyright {
    padding: 0px;
    height: 3rem;
}

footer .icon {
    width: 1.5rem;
}

footer ul {
    padding: 0px;

}

footer li {
    display: inline;
    margin: 0px 10px;
    padding: 0px;
    justify-self: start;
    align-self: center;
}

