:root {
    --jobOuterPadding: 3rem;
    --jobInnerPadding: 2rem;
}

/* Top banner elements */
.banner {
    justify-self: center;
    align-self: center;
    text-align: center;
    font-size: var(--bannerFontSize);
    font-weight: bold;
}

.content {
    grid-auto-rows: minmax(0, max-content);
}

.company {
    display: grid;
    grid-template-columns: 2fr 9fr;
    grid-template-areas:    "logo name"
                            "info info";
    background-color: var(--colorWhite);
    /* padding: 2rem var(--projectOuterPadding) var(--projectOuterPadding) var(--projectOuterPadding); */
    padding: var(--jobOuterPadding);
    grid-row-gap: 2rem;
}

.logo {
    grid-area: logo;
    align-self: center;
    justify-self: center;
    height: 1.5rem;
    position: relative; /* To allow logo to be positioned wherever as desired */
}

.logo img {
    height: 3.5rem;
    display: block; /* Remove random extra space at bottom */
    position: absolute; 
    top: -1rem; /* To achieve 3 rem padding (2 + 1) at top */
    right: -1.5rem;

}

.name {
    grid-area: name;
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--colorDarkGrey);
    justify-self: start;
    align-self: center;
}

.info {
    display: grid;
    grid-area: info;
    grid-auto-rows: minmax(0, max-content);
    grid-row-gap: var(--jobInnerPadding);
}

.job {
    display: grid;
    grid-template-columns: 4fr 0.1fr 1fr;
    grid-template-areas:    "role  role     role"
                            "date  date     date"
                            "desc  divider  stack";
    grid-column-gap: var(--jobInnerPadding);
    grid-row-gap: 0.25rem;
}

.job-nostack {
    display: grid;
    grid-template-areas:    "role"
                            "date"
                            "desc";
    grid-column-gap: var(--jobInnerPadding);
    grid-row-gap: 0.25rem;
}

.role {
    grid-area: role;
    font-weight: bold;
    color: var(--colorDarkGrey);
}

.date {
    grid-area: date;
    color: var(--colorDarkGrey);
}

.desc {
    grid-area: desc;
}

ul {

    position: relative;
}

li {
    list-style: none;
    padding-left: 1.5rem;
}

li::before {
    content:"\2022"; 
    position: absolute;
    left: 0rem;
    margin-top: -0.4rem;
    font-size: 1.5rem;
    color: var(--colorDarkGrey);
}


.divider {
    height: 100%;    /* rem causes inconsistent sizes */
    width: 2px;
    background-color: var(--colorLightGrey);
    justify-self: center;
}

.stack {
    display: grid;
    grid-area: stack;
    grid-template-areas:    "lang"
                            "tool";
    grid-row-gap: var(--jobInnerPadding);
}

.lang {
    grid-area: lang;
}

.tool {
    grid-area: tool;
}